
@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap');
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

[class^='col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

body {
  border: 15px solid #fff;
  font-family: sans-serif;
  font-size: 1rem;
  color: #fff; }

a, button {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  -o-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }
  a svg, button svg {
    fill: currentColor; }

button, .button {
  cursor: pointer; }

.container{
  max-width: 1110px;
  width: 100%;
  margin: 0 auto; 
}


/* Header */

.ba-header {
  top: 0;
  background: #047dc0 url(../img/header-bg.png) 50% no-repeat;
  background-size: cover;
  height: 100vh;
}
.ba-header__container {
  height: calc(100vh - 80px);
}
.ba-header__nav {
  background: url(../img/menu-bg.png) 50% no-repeat;
  bottom: 0;
  display:  flex;
  justify-content: space-between;
  align-items: center;
}
.ba-logo {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.menu__link {
  font-family: 'Aleo', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 25px;
}
.ba-header__nav {
  height: 80px;
}
.ba-header__nav_line {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
}
.menu__link:hover {
  text-decoration: underline;
}
.ba-header__title {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 265px;
}
.ba-header__text {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.31em;
  text-align: center;
  /* padding-top: 265px; */
}
.ba-header__title + .ba-header__text {
  padding: 17px;
}

.ba-header__search {
  display: flex;
   width: 650px;
    border: 1px solid #fff;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    
}
input[type="search"] {
  width: 505px;
  height: 60px;
  padding-left: 126px;
}
input[type="submit"] {
  width: 145px;
  height: 60px;
  background: url(../img/search-btn.png) 50% no-repeat;
  border: 1px solid #fff;
}
input[type="submit"]:hover {
  opacity: .6;
}
input[type="submit"]:active {
  opacity: .3;
}
.ba-header__scroll {
  text-align: center;
  margin-top: 116px;
}



/* Choose-us */
.choose-us {
  background: #393c3d url(../img/ch-bg.png) 50% no-repeat;
  height: 686px;
}
.choose-us__container {
  position: relative;
  height: inherit;
}
.choose-us__title {
  font-family: 'Aleo', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  padding-top: 200px;
  padding-bottom: 33px;
}
.choose-us__text {
  display: block;
  width: 541px;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  padding-top: 15px;
  padding-bottom: 15px;
}


.choose-us__img1 {
  position: absolute;
  width: 348px;
  height: 220px;
  top: 120px;
  right: 125px;
}
.choose-us__img2 {
  position: absolute;
  width: 348px;
  height: 220px;
  top: 344px;
  right: 0px;
}
.choose-us__btn {
  width: 225px;
  height: 60px;
  background: #5474fd url(../img/sp-btn.png) no-repeat;
  color: #fff;
  border-width: 0;
}
.choose-us__btn:hover {
  border: 2px solid #fff;
}
.choose-us__btn:active {
  background-color: #fff;
  color: #5474fd;
}


/* how-it-works */
.how-it-works{
  background: #333 url(../img/how-bg.png) 50% no-repeat;
  height: 337px;
  padding-top: 100px;
}
.how-it-works__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.how-it-works__item {
  text-align: center;
}
.how-it-works__img {
  margin-bottom: 30px;
}
.txt {
  font-family: 'Aleo', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}
.search:hover {
  color: #4f6ade;
  text-decoration: underline;
}
.select:hover {
  color: #ff6363;
  text-decoration: underline;
}
.book:hover {
  color: #00a2ff;
  text-decoration: underline;
}

/* spain1 */
.spain1{
  background: #a5a3bb url(../img/pic1.png) 50% no-repeat;
  height: 700px;
}
.spain1__container {
  position: relative;
}
.spain__title{
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.075em;
  padding-bottom: 28px;
}
.spain__title2{
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 28px;
}
.spain__text{
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 46px;
}
.spain__btn {
  width: 225px;
  height: 60px;
  background: #5474fd url(../img/sp-btn.png) no-repeat;
  color: #fff;
  border-width: 0;
}
.spain__btn:hover {
  border: 2px solid #fff;
}
.spain__btn:active {
  background-color: #fff;
  color: #5474fd;
}
.box {
  width: 541px;
  height:  371px;
  background-image: url(../img/film.png);
  padding-left: 30px;
  padding-top: 50px;
}
.spain1__box{
  position: absolute;
  top:228px;
}


/* spain2 */
.spain2 {
  background: #d5601b url(../img/pic2.png) 50% no-repeat;
  height: 700px;
}
.spain2__container {
  position:  relative;
}
.spain2__box{
  position: absolute;
  top: 231px;
  right: 0;
}



/* review */
.review {
  background: #2b2d2d url(../img/man-bg.png) 50% no-repeat;
  height: 731px;
  padding-top: 120px;
}
.review__title-main {
  font-family: 'Aleo', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 100px;
}
.review__info {
  background: #333333 url(../img/txt-bg.png) 50% no-repeat;
  width: 100%;
  height: 284px;
}
.review__img {
  float: left;
  margin-right: 60px;
}
.review__story {
  padding-top: 50px;
  padding-right: 50px;
}
.review__title {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.075em;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.review__text {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}




/* footer */
.ba-footer {
  background: #232323 url(../img/footer.png) 50% no-repeat;
  padding-top: 120px;
}
.ba-footer__container {

}
.ba-footer__title {
  display: block;
  margin-bottom: 14px;
  text-align: center;
}
.ba-footer__text {
  font-family: 'Myriad Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 25px;
}
.ba-footer__social {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.facebook {
  width: 9px;
  height: 16px;
}
.twitter {
  width: 16px;
  height: 12px;
}
.linkedin {
  width: 14px;
  height: 14px;
}
.youtube{
  width: 16px;
  height: 12px;
}
.pinterest {
  width: 14px;
  height: 14px;
}
.icon {
  fill: #e8e8e8;
  margin-left: 12px;
  margin-right: 12px;
}
.icon:hover {
  fill: #5474fd;
}
.ba-footer__svg {
  height: 50px;
}










/*# sourceMappingURL=app.css.map */